/* pages/refund/refund_apply/refund_apply.wxss */

.wrapper {
  width: 100%;
  overflow: hidden;
  display: block;
}

.border-height {
  background: #f4f5f9;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 26rpx;
}

.wrapper-main {
  width: 100%;
}

.wrapper-main .cont-main {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

.wrapper-main .cont {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 28rpx;
  padding-bottom: 28rpx;
}

.wrapper-main .cont.cont-padding {
  padding-bottom: 98rpx;
}

.cont .cont-left {
  display: block;
  float: left;
  font-family: "苹方";
  font-size: 28rpx;
}

.cont .cont-right {
  display: block;
  float: right;
  width: 73%;
}

.cont-right .cont-right-font {
  font-family: "苹方";
  font-size: 28rpx;
  color: #666;
}

.cont-right .cont-right-input {
  font-family: "苹方";
  font-size: 28rpx;
  color: #666;
}

.cont-right .cont-right-img {
  width: 142rpx;
  height: 142rpx;
}

.cont-main .main-bottom {
  width: 94%;
  margin: 0 auto;
  padding-top: 24rpx;
  padding-bottom: 24rpx;
}

.cont-main .main-bottom .cont-main-bottom {
  font-family: "苹方";
  font-size: 26rpx;
  color: #666;
}

.apply-main {
  background: #f8f8f8;
  overflow: hidden;
}

.apply-main .apply-font {
  display: inline-block;
  padding: 14rpx 28rpx;
  font-family: "苹方";
  font-size: 28rpx;
  float: right;
  border: 1px solid #323232;
  color: #323232;
  border-radius: 10rpx;
  margin-top: 26rpx;
  margin-bottom: 26rpx;
  margin-right: 44rpx;
  
}

.cont-right .cont-right-img-cont {
  width: 112rpx;
  height: 112rpx;
  display: blcok;
}

.apply-main .apply-font.apply-font-first {
  color: #55bcc5;
  border-color: #55bcc5;
}

.phone_personal {
  width: 100%;
  color: #666;
  vertical-align: middle;
  font-family: "苹方";
  font-size: 28rpx;
}

.phone_one {
  display: block;
  position: relative;
  justify-content: space-between;
  background: #fff;
  width: 98%;
  border-radius: 10rpx;
  border-bottom: 2rpx solid rgb(255, 255, 255);
}

.person_box {
  position: absolute;
  z-index: 999;
  background: #fff;
  width: 78%;
}

.phone_select {
  margin-top: 28rpx;
  z-index: 9990;
  position: absolute;
  height: auto;
  background: #fff;
  border: 1px solid #d3d3d3;
  padding: 24rpx;
  width: 77%;
}

.select_one {
  background: #fff;
  line-height: 62rpx;
  height: 62rpx;
  font-family: "苹方";
  font-size: 28rpx;
}

.select_one:hover {
  color: #fd4442;
}

.personal_image {
  z-index: 999;
  width: 34rpx;
  height: 20rpx;
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  position: absolute;
  right: 0rpx;
  top: 30%;
}

.rotateRight {
  transform: rotate(180deg);
}
