page {
  background-color: #fff;
  border-top: 1px solid #e8e9eb;
}
.tis {
  width: 100%;
  color: #000;
  text-align: center;
  line-height: 30px;
  height: 30px;
  padding-top: 32%;
  font-size: 28rpx;
}
.tis .line {
  display: inline-block;
  width: 98rpx;
  height: 1rpx;
  background: #000;
  vertical-align: middle;
}
.tis .font {
  width: 100%;
  color: #999999;
  display: block;
  font-size: 29rpx;
  margin-bottom: 36rpx;
}
.tis .text {
  width: 238rpx;
  height: 72rpx;
  line-height: 72rpx;
  border: 1px solid #55bcc5;
  color: #55bcc5;
  display: block;
  font-size: 30rpx;
  margin: 0 auto;
  border-radius: 6rpx;
}
.tis image {
  width: 550rpx;
  height: 380rpx;
}

.loadimg {
  width: 100%;
  background: #1ba1e2;
  height: 80rpx;
  color: #fff;
  font-size: 11pt;
  position: fixed;
  bottom: 0px;
  z-index: 99;
  display: none;
}
.loadimg image {
  width: 60rpx;
  height: 60rpx;
  display: block;
  float: left;
  margin-left: 20rpx;
  margin-top: 10rpx;
}
.loadimg text {
  line-height: 80rpx;
  display: block;
  float: left;
  margin-left: 20rpx;
}

.scroll_view {
  height: auto;
  width: 100%;
  display: blcok;
  overflow: hidden;
}
.load_footer {
  text-align: center;
  font-size: 10pt;
  color: #999999;
  width: 100%;
  clear: both;
  display: block;
  margin-top: 350rpx;
}

.goods_img {
  height: 370rpx;
  width: 100%;
  float: left;
}
.goods_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #353535;
  width: 65%;
  float: left;
  font-size: 10pt;
  margin-top: 15rpx;
}
.name_number {
  height: 80rpx;
  float: left;
  width: 100%;
  font-size: 10pt;
}
.goods_number {
  color: #b2b2b2;
  margin-top: 10rpx;
  display: block;
}
.beloved {
  width: 13%;
  height: 47rpx;
  float: left;
  margin-top: 15rpx;
}
.beloved image {
  width: 100%;
  height: 100%;
}
.del_collection {
  float: right;
  background: url("http://wxapp.sns318.net/sc_dele.png") no-repeat;
  background-position: center center;
  font-size: 11pt;
  color: #fff;
  width: 10%;
  height: 60rpx;
  padding-top: 15rpx;
  padding-right: 20rpx;
  line-height: 160rpx;
  text-align: center;
  background-size: 45rpx 50rpx;
}
.goods_one {
  float: left;
  display: block;
  height: 450rpx;
  width: 46%;
  margin: 14rpx;
  background-color: #ffffff;
}

.borderh5 {
  display: block;
  font-size: 11pt;
  height: 15rpx;
  width: 100%;
  background: #f2f2f2;
  clear: both;
}
.Technical_support {
  position: absolute;
  bottom: -330rpx;
  right: 18rpx;
}

/* 新添加 */
.back_line {
  width: 100%;
  height: 24rpx;
  background: #f2f2f2;
}
.module_line {
  width: 100%;
  background: #fff;
  padding: 24rpx 0rpx;
  overflow: hidden;
  position: absolute;
  left: 0rpx;
  right: 0rpx;
  transition: left 0.3s ease-in-out;
}
.prod_logo {
  width: 178rpx;
  height: 178rpx;
  float: left;
  margin-left: 4%;
  border: 1px solid #e6e6e6;
}
.module_main {
  width: 64%;
  float: right;
  margin-right: 4%;
  position: relative;
  overflow: hidden;
  height: 178rpx;
}
.shop_title {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 32rpx;
  color: #333333;
  margin-bottom: 46rpx;
  margin-top: 6rpx;
}
.module_clock {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.clock_logo {
  width: 35rpx;
  height: 35rpx;
  display: block;
  margin-right: 8rpx;
  float: left;
}
.clock_name {
  width: 80%;
  display: block;
  float: left;
  color: #999999;
  font-size: 30rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 35rpx;
  line-height: 35rpx;
}
.module_posit {
  position: absolute;
  bottom: 2rpx;
  left: 0rpx;
  width: 100%;
}
.clock_addre {
  width: 55%;
  display: block;
  float: left;
  color: #999999;
  font-size: 30rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 35rpx;
  line-height: 35rpx;
}
.dist_addre {
  width: 25%;
  display: block;
  float: left;
  color: #999999;
  font-size: 30rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 35rpx;
  line-height: 35rpx;
  border-left: 1px solid #d9d9d9;
  text-align: center;
}
.right_logo {
  display: block;
  float: right;
  width: 22rpx;
  height: 32rpx;
}
.phone_logo {
  width: 70rpx;
  height: 70rpx;
  display: block;
  position: absolute;
  top: 30rpx;
  right: 0rpx;
}
.outside_wrap {
  width: 100%;
  position: relative;
  height: 232rpx;
  border-bottom: 1px solid #f0f0f0;
}
.line_del {
  width: 86px;
  height: 228rpx;
  line-height: 228rpx;
  text-align: center;
  background: #fe4644;
  float: right;
  right: 0rpx;
}
.line_del text {
  color: #fff;
  font-size: 30rpx;
}
