page{
  background:#f5f5f5;
}
.container{
  width:100%;
}
.withdraw_logo{
  width:198rpx;
  height:198rpx;
  margin:0 auto;
  display:block;
}
.withdraw_cont{
  margin-top:23%;
}
.withdraw_font{
  width:100%;
  text-align: center;
  font-size:38rpx;
  margin-top:38rpx;
  font-family: '苹方';  
}
.withdraw_confirm{
  width:90%;
  margin:0 auto;
  background: #fe5752;
  text-align: center;
  height:78rpx;
  line-height: 78rpx;
  border-radius: 30rpx;
  color:#fff;
  margin-top:158rpx;
  font-size:30rpx;
}