.tis{
  width: 100%;
  margin: 0 auto;
  background:#e64340;
  color: #fff;
  text-align: center;
  line-height: 30px;
  height: 0px;
}

.loadimg{
  width: 100%;
  background: #1BA1E2;
  height: 80rpx;
  color: #fff;
  font-size: 11pt;
  position: fixed;
  bottom: 0px;
  z-index: 99;
  display: none;
}
.loadimg image{
  width: 60rpx;
  height: 60rpx;
  display: block;
  float: left;
  margin-left: 20rpx;
  margin-top: 10rpx;
}
.loadimg text{
  line-height: 80rpx;
  display: block;
  float: left;
  margin-left: 20rpx;
}


.scroll_view{
  height: 2000rpx;
}
.load_footer{
  text-align: center;
  font-size: 13pt;
  background: #dedede;
  color: #999999;
  width: 100%;
  clear: both;
  margin-top: 20rpx;
  display: block;
}

.goods_img{
  height: 140rpx;
  width: 140rpx;
  margin-top: 10rpx;
  float: left;
  margin-left: 10rpx;
}
.goods_name{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  display: block;
  color: #353535;
}
.name_number{
  height: 80rpx;
  margin-top: 40rpx;
  float: left;
  width: 60%;
  margin-left: 10rpx;
}
.goods_number{
  font-size: 13pt;
  color: #b2b2b2;
  margin-top: 10rpx;
  display: block;
}
.del_collection{
  float: right;
  background: url("http://ghwvip.com/mobile/themesmobile/elm8com_mobile/images/icoshanchu.jpg") no-repeat;
  background-position:center center;
  background-size:60rpx 60rpx; 
  font-size: 11pt;
  color: #fff;
  width: 10%;
  height: 160rpx;
  line-height:160rpx;
  text-align: center;
}
.goods_one{
  height: 160rpx;
  width: 100%;
  margin-left: 10rpx;
  border-bottom: 1px solid #f2f2f2;
}


.borderh5{
  display: block;
  font-size: 11pt;
  height: 15rpx;
  width: 100%;
  background: #f2f2f2;
  clear: both;
}

.content_style{
  font-size: 13pt;
  color: #353535;
  margin-left: 20rpx;
  margin-top: 20rpx;
  line-height: 20pt;
}

.content_text{
  display: block;
}
.xingxing{
  display: inline-block;
  margin-left: 5rpx;
}
.xingxing image{
  height: 11pt;
  width: 11pt;
  display: inline-block;
}